<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FreaksLabor_V1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FreaksLabor_V1.Farben" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FreaksLabor_V1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FreaksLabor_V1.Einstellungen" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="FreaksLabor_V1.Properties.Settings.CommandsConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Commands.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    
    </startup>
    <applicationSettings>
        <FreaksLabor_V1.Properties.Settings>
            <setting name="Einstellung" serializeAs="String">
                <value />
            </setting>
            <setting name="Passwort" serializeAs="String">
                <value>Freaks!</value>
            </setting>
        </FreaksLabor_V1.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <FreaksLabor_V1.Farben>
            <setting name="Vordergrund_Logo" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Hintergrund_Logo" serializeAs="String">
                <value>Green</value>
            </setting>
        </FreaksLabor_V1.Farben>
        <FreaksLabor_V1.Properties.Settings>
            <setting name="LOL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Farbe" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Hintergrund" serializeAs="String">
                <value>Green</value>
            </setting>
        </FreaksLabor_V1.Properties.Settings>
        <FreaksLabor_V1.Einstellungen>
            <setting name="Pfad" serializeAs="String">
                <value />
            </setting>
        </FreaksLabor_V1.Einstellungen>
    </userSettings>
</configuration>